/*@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);*/
/* CSS Document */

/*--course detail--*/
p {
    line-height: 26px;
}

.d_inline h2 {
    display: inline-block;
    width: 400px;
}

.d_inline ul {
    display: inline-block;
    width: 741px;
    text-align: right;
}

    .d_inline ul li a {
        color: #fff;
    }

.search_bg {
    background-color: #ccc;
}

section {
    position: relative;
    width: 100%;
}

.block {
    width: 100%;
    position: relative;
}

    .block.gray {
        background: #f6f6f6;
        padding: 20px 0px;
    }

.column-title {
    width: 80%;
    float: left;
}

    .column-title h2 {
        float: left;
        width: 100%;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.3px;
        font-weight: 800;
        margin: 0;
    }

.search-course {
    width: 100%;
    transform: translateY(30%);
}

    .search-course input {
        margin: 0;
        background: #FFF;
        height: 56px;
        width: 100%;
        font-size: 12px;
        border: 1px solid #efefef;
        padding-left: 10px;
        border-radius: 4px;
    }

    .search-course a {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: #3c8dbc;
        color: #fff;
        padding: 17px 10px;
        margin: 1px 15px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border: none;
        transition: 0.9s;
    }

        .search-course a:hover {
            background-color: #2f6e92;
        }

.c_detail {
    width: 100%;
    background-color: #fbfbfb;
    box-shadow: 0px 1px 2px #ccc;
    overflow: hidden;
}

.sec_img img {
    max-width: 100%;
}

.c_img:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 23px;
    background: url(../images/course-img-arrow.png) no-repeat scroll 0 bottom;
    background-size: 100% 100%;
}

.c_sec {
    text-align: center;
}

.course_bar span {
    background-color: #3c8dbc;
    color: #FFF;
    font-size: 12px;
    width: 85px;
    padding: 9px 17px;
    position: relative;
    display: inline-block;
    font-weight: 800;
}

    .course_bar span:before {
        content: "";
        border-top: 19px solid #3c8dbc;
        border-right: 15px solid transparent !important;
        position: absolute;
        right: -15px;
        top: 0;
    }

    .course_bar span:after {
        content: "";
        border-bottom: 19px solid #3c8dbc;
        border-right: 15px solid transparent !important;
        position: absolute;
        right: -15px;
        bottom: 0;
    }

.admin-name {
    width: 146px;
    display: inline-block;
    text-align: right;
}

    .admin-name img {
        border-radius: 50%;
    }

.course_bar {
    padding: 10px 10px;
}

.m_20 {
    margin: 60px 0px 20px;
}

.d_inline ul li a:hover {
    color: #3c8dbc;
    transition: 0.5s;
}

.bg_c_bar {
    overflow: hidden;
}

.c_img:before {
    background-color: rgba(0,0,0,0.5);
    content: "";
    width: 100%;
    top: 0;
    height: 215px;
    position: absolute;
    opacity: 0;
    transition: 0.4s;
}

.c_img:hover:before {
    opacity: 1;
}
/*--inner banner--*/
.inner_banner {
    width: 100%;
    position: relative;
    display: table;
}

    .inner_banner img {
        max-width: 100%;
    }

.inner_banner_bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
}

.c_detail {
    margin-bottom: 20px;
}

.search-course {
    padding-bottom: 20px;
}
/*--course detail end--*/
a:hover {
    text-decoration: none;
}

.logo {
    display: inline-block;
    width: 218px;
}

.right_head {
    display: inline-block;
    width: 918px;
    font-size: 19px;
    text-align: right;
}

    .right_head a {
        margin-left: 25px;
        font-size: 16px;
        transition: 0.9s;
    }

        .right_head a:hover {
            background: #2f6e92;
        }

.nav_menu {
    width: 100%;
    margin: auto;
    z-index: 1;
}

.header_bg {
    width: 100%;
    padding: 20px 0px;
}

a.l_s_btn {
    background-color: #3c8dbc;
    padding: 9px 23px !important;
    color: #fff;
}

.p_no i {
    color: #3c8dbc;
    padding-right: 10px;
}

.h_courses {
    display: inline-block;
    width: 100%;
    padding: 30px 0px;
}

    .h_courses div {
        float: right;
    }

.right_head a.l_s_btn {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #fff;
}

.l_s_btn:after {
    content: '\f090';
    position: absolute;
    font-family: "FontAwesome";
    opacity: 0;
    top: 9px;
    right: -7px;
    transition: 0.5s;
}

.sign_bt:after {
    content: '\f007';
    top: 9px;
}

.l_s_btn:hover {
    padding-right: 35px !important;
    color: #fff;
    background-color: #2f6e92 !important;
}

.right_head .navbar-right {
    margin-right: 0px;
}

.l_s_btn:hover:after {
    opacity: 1;
    right: 6px;
    top: 9px;
}

.banner {
    width: 100%;
    position: relative;
    display: table;
}

    .banner img {
        max-width: 100%;
    }

.banner_bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
}

.b_absolute {
    display: table;
    vertical-align: middle;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    margin: auto;
}

.b_text {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.clear {
    clear: both;
}

.affix {
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
}

.affix-top {
    position: static;
    top: -40px;
}

.b_text h2 {
    color: #fff;
    font-size: 45px;
}
/*--menu--*/
ul.menu_left > li > ul > li > a:before {
    content: "\f105";
    font-family: "FontAwesome";
    left: -10px;
    position: absolute;
    top: 0;
    bottom: 0;
    color: #fff;
    font-size: 17px;
    margin-right: 5px;
    opacity: 0;
}

ul.menu_left > li > ul > li {
    margin-left: 5px;
    transition: 0.9s;
}

    ul.menu_left > li > ul > li > a:hover:before {
        opacity: 1;
    }

    ul.menu_left > li > ul > li > a:hover {
        margin-left: 10px;
    }
/*--search--*/
.tmsearch {
    width: 500px;
    margin-top: 20px;
    text-align: center;
    margin: auto;
}

#tmsearchbox {
    position: relative;
}

.button-search {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3c8dbc;
    color: #fff;
    border: none;
    padding: 7px 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

    .button-search span {
        font-size: 20px;
    }

.tm_search_input {
    padding: 20px 15px;
}
/*--search end--*/
.cont_botm {
    background-color: #fff;
    box-shadow: 0px 1px 3px #ccc;
    width: 100%;
    position: relative;
    bottom: 30px;
    font-size: 0;
}

.con_one {
    width: 33%;
    padding: 20px;
    display: inline-block;
}

    .con_one span {
        vertical-align: top;
        font-size: 17px;
        display: table-cell;
        padding-right: 5px;
    }

        .con_one span i {
            font-size: 35px;
            color: #aca5a2;
        }
/*--training sec--*/
.training_sec {
    background-color: #fff;
    box-shadow: 0px 3px 3px #ccc;
    transition: 0.6s;
    overflow: hidden;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

    .training_sec:hover {
        box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.3);
    }

    .training_sec img {
        max-width: 100%;
        margin: auto;
    }

.p_trainer {
    padding: 10px;
}

.h_courses h2 {
    color: #6a6a6a;
    display: inline-block;
    margin: 0;
    position: relative;
}

    .h_courses h2:before {
        content: '';
        position: absolute;
        background-color: #3c8dbc;
        height: 2px;
        width: 140px;
        bottom: 0;
        margin-top: 10px;
    }

.login_sign a:first-child {
    border-right: 1px solid #2f6e92;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.social_icon li a:hover i {
    animation: bounce 1s;
}

.p_trainer img {
    border: 3px solid #fff;
}

.p_trainer p {
    color: #fff;
}

.sec_img {
    position: relative;
    cursor: pointer;
}

.bg_cont {
    background-color: #f7f7f7;
}

.img_hov {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.9s;
    display: none;
    margin-left: -30px;
    transition: 0.9s;
}

.bg_instructor {
    width: 100%;
}

.training_sec:hover .img_hov {
    display: block;
    margin-left: 0px;
    transition: 0.9s;
}

.training_sec:hover .sec_img img {
    transform: scaleX(1.1);
    transition: 0.9s;
}

.instructor {
    width: 100%;
    text-align: center;
    margin: 70px 0px;
}

    .instructor h3 {
        font-weight: bold;
        color: #3c8dbc;
    }

.sec_text h5 {
    font-weight: bold;
    font-size: 18px;
}

.sec_text {
    padding: 5px 10px 10px;
}

    .sec_text ul li {
        padding-right: 0px;
    }

        .sec_text ul li span {
            color: #928989;
        }

        .sec_text ul li i {
            color: #3c8dbc;
        }

.info_btn {
    border: 1px solid #3c8dbc;
    padding: 10px 20px;
    color: #3c8dbc;
    transition: 0.2s;
    position: relative;
    display: inline-block;
}

    .info_btn:hover {
        color: #fff;
        z-index: 1;
    }

    .info_btn:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 100%;
        background: #2f6e92;
        transition: all 1s ease;
        color: #fff;
        z-index: -1;
    }

    .info_btn:hover:before {
        width: 100%;
        color: #fff;
    }

.b_r-n {
    border-right: 1px solid #ccc;
}

.menu ul li.login_sign:hover {
    background-color: transparent;
}
/*--footer start--*/
footer {
    background-color: #22272b;
    width: 100%;
    margin: 20px 0px 0px;
}

.footer {
    margin: 50px 0px;
}

.footer_sec {
    margin-left: 60px;
    transition: 0.9s;
}

    .footer_sec ul li a i {
        color: #ccc;
    }

    .footer_sec ul li a span {
        left: 20px;
        color: #ccc;
        position: relative;
    }

    .footer_sec li {
        line-height: 30px;
    }

    .footer_sec ul {
        margin: 15px 0px 0px;
        padding-left: 0px;
        transition: 0.9s;
    }

    .footer_sec h3 {
        color: #fff;
        margin-bottom: 40px;
    }

        .footer_sec h3:after {
            position: absolute;
            width: 40px;
            height: 2px;
            left: 0;
            top: 31px;
            background: #3c8dbc;
            content: "";
            transform: translateX(50%);
        }

.b_footer {
    background-color: #1d2023;
    padding: 20px 0px;
}

    .b_footer p {
        color: #ccc;
        text-align: center;
        margin-bottom: 0px;
    }

.social_icon li a i {
    transition: 0.9s;
}

    .social_icon li a i:hover {
        color: #3c8dbc;
    }

.footer_sec ul li a:hover span {
    color: #3c8dbc;
}
/*--footer end--*/

/* 
- Name: megamenu.js - style.css
- Version: 1.0
- Latest update: 29.01.2016.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/


/* 末末末末末末末末末末末末末末末末末末末末末末末末末
Body - not related to megamenu
末末末末末末末末末末末末末末末末末末末末末末末末末 */
/*--dummy menu--*/
.menu_head {
    margin: 0px;
    padding: 0px;
    background-color: #ccc;
}

    .menu_head ul {
        position: relative;
    }

        .menu_head ul li {
            display: inline-block;
            list-style: none;
        }

            .menu_head ul li ul {
                position: absolute;
            }

                .menu_head ul li ul li {
                    display: block;
                }

menu_head.submenu1 {
    display: block;
}

.submenu1 li ul {
    margin-left: 20px;
}
/*--dummy menu end--*/







.description {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* 末末末末末末末末末末末末末末末末末末末末末末末末末
megamenu.js STYLE STARTS HERE
末末末末末末末末末末末末末末末末末末末末末末末末末 */


/* 末末末末末末末末末末末末末末末末末末末末末末末末末
Screen style's
末末末末末末末末末末末末末末末末末末末末末末末末末 */

.menu-container {
    width: 80%;
    margin: 0 auto;
    background: #e9e9e9;
}

.menu-mobile {
    display: none;
    padding: 20px;
}

    .menu-mobile:after {
        content: "\f0c9";
        font-family: "FontAwesome";
        font-size: 2.5rem;
        padding: 0;
        float: right;
        position: relative;
        -webkit-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        transform: translateY(-25%);
        color: #fff;
    }

.menu-dropdown-icon:before {
    content: "\f067";
    font-family: "FontAwesome";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
    float: left;
    background-color: #3c8dbc;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    list style:none;
}

    .menu > ul:before, .menu > ul:after {
        content: "";
        display: table;
    }

    .menu > ul:after {
        clear: both;
    }

.menu span.caret {
    display: block;
    text-align: center;
    margin: auto;
    line-height: 0px;
}

.menu > ul > li {
    float: left;
    background: #3c8dbc;
    padding: 0;
    margin: 0;
    width: 15%;
    padding: 20px 0px;
    height: 72px;
    border-right: 1px solid #387da5;
}

    .menu > ul > li:last-child {
        border-right: none !important;
    }

.menu ul li.login_sign {
    width: 30%;
    display: inline-block;
    text-align: right;
    border-right: none;
    display: none;
}

.affix .menu ul li.login_sign {
    display: block;
}

.menu ul li.login_sign a {
    display: inline-block;
    width: 85px;
}

.menu > ul > li a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 17px;
    display: block;
    font-weight: 600;
}

.menu > ul > li:hover {
    background: #2f6e92;
    height: 72px;
}

.menu > ul > .menu-dropdown-icon a:hover ul {
    transition: 0.9s ease-in;
}

.menu > ul > li > ul {
    margin-top: 20px;
    display: none;
    width: 100%;
    background: #3c8dbc;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    top: 72px;
    border-top: 1px solid #2f6e92;
    transition: 0.9s ease-in;
}

    .menu > ul > li > ul:before, .menu > ul > li > ul:after {
        content: "";
        display: table;
    }

    .menu > ul > li > ul:after {
        clear: both;
    }

    .menu > ul > li > ul > li {
        margin: 0;
        padding-bottom: 0;
        list-style: none;
        width: 20%;
        background: none;
        float: left;
    }

        .menu > ul > li > ul > li a {
            color: #fff;
            width: 95%;
            display: block;
            border-bottom: 1px solid #ccc;
            position: relative;
        }

.menu-dropdown-icon ul li a {
    text-align: left;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

    .menu > ul > li > ul > li > ul:before, .menu > ul > li > ul > li > ul:after {
        content: "";
        display: table;
    }

    .menu > ul > li > ul > li > ul:after {
        clear: both;
    }

    .menu > ul > li > ul > li > ul > li {
        float: left;
        width: 100%;
        padding: 5px 0;
        margin: 0;
    }

        .menu > ul > li > ul > li > ul > li a {
            border: 0;
            transition: 0.9s;
        }

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

    .menu > ul > li > ul.normal-sub > li {
        width: 100%;
    }

        .menu > ul > li > ul.normal-sub > li a {
            border: 0;
        }


.about-us-content {
}

.heading-text > h3 {
    font-weight: bold;
    color: #3c8dbc;
}

.para-text {
    margin: 0;
    padding: 0px 0 20px 0;
}
/* 末末末末末末末末末末末末末末末末末末末末末末末末末
Mobile style's
末末末末末末末末末末末末末末末末末末末末末末末末末 */

@media only screen and (max-width: 959px) {
    .menu-container {
        width: 100%;
    }

    a.menu-mobile {
        display: block;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #b33c38;
    }

    .menu-dropdown-icon:before {
        display: block;
        background: none;
        padding: 0px;
        color: #fff;
    }

    .menu > ul {
        display: none;
    }

    .affix, .affix-top {
        position: relative !important;
        top: 0 !important;
    }

    .affix-top {
        top: 0px;
    }

    .menu > ul > li:hover {
        height: auto;
    }

    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
        padding: 10px 20px;
        height: auto;
    }

        .menu > ul > li a {
            width: 100%;
            display: block;
            text-align: left;
        }

    .show-on-mobile li a span {
        display: inline-block;
    }

    .menu span.caret {
        display: none;
    }

    .menu > ul > li > ul {
        position: relative;
        top: 0px;
        margin-top: 10px;
    }

        .menu > ul > li > ul.normal-sub {
            width: 100%;
        }

        .menu > ul > li > ul > li {
            float: none;
            width: 100%;
            margin-top: 20px;
        }

            .menu > ul > li > ul > li:first-child {
                margin: 0;
            }

            .menu > ul > li > ul > li > ul {
                position: relative;
            }

                .menu > ul > li > ul > li > ul > li {
                    float: none;
                }

    .menu .show-on-mobile {
        display: block;
    }

    .menu > ul > li > ul > li {
        display: inline-block;
    }
}

.login {
    background: #f7f7f7;
    border-radius: 6px;
    border: solid 1px #ddd;
    box-shadow: 0 0 6px #ccc;
    margin-top: 100px;
    margin-bottom: 100px;
}

    .login h2 {
        text-align: center;
        background: rgba(60, 141, 188, 0.15);
        padding: 20px;
        margin: 0 -15px;
        text-transform: uppercase;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom: 1px solid rgba(60, 141, 188, 0.35);
    }

    .login .checkbox2 input[type=checkbox] {
        margin-left: 0;
    }

    .login .btn-default {
        color: #fff;
        background-color: #3c8dbc;
        border-color: #34779e;
        transition: ease-in 0.3s;
    }

        .login .btn-default:hover {
            background-color: #2f6e92;
        }

.logoff-btn {
    background-color: #3c8dbc;
    padding: 9px 23px !important;
    color: #fff;
}

a.user-name {
    padding: 5px 0 !important;
    font-weight: bold;
    font-size: 12px;
}

    a.user-name:hover {
        background: none !important;
    }


/*course details page*/

