﻿@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
    <img src="~/assets/images/serach_bg.jpg" alt="" />
    <div class="banner_bg">
        <div class="b_absolute container">
            <div class="b_text">
                <h2 class="wow slideInDown" data-wow-duration="500ms" data-wow-delay="400ms">What would you like to learn?</h2>
                <div class="tmsearch">
                    <form id="tmsearchbox" class="toogle_content wow slideInDown" data-wow-duration="1500ms" data-wow-delay="500ms">

                        <input class="tm_search_input form-control" type="text" id="tm_search_query" name="search_query" placeholder="Search" value="" autocomplete="off">
                        <button type="submit" name="tm_submit_search" class="button-search">
                            <span><i class="fa fa-search" aria-hidden="true"></i></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="container">
    <div class="cont_botm">
        <div class="con_one">
            <span><i class="fa fa-mobile" aria-hidden="true"></i></span><span>Learn at your own place with any device</span>
        </div>
        <div class="con_one bg_cont">
            <span><i class="fa fa-desktop" aria-hidden="true"></i></span><span>Learn at your own place with any device</span>
        </div>
        <div class="con_one">
            <span><i class="fa fa-laptop" aria-hidden="true"></i></span><span>Learn at your own place with any device</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="col-md-8 col-sm-10 col-md-offset-2 text-center">
            <div class="about-us-content">
                <div class="heading-text">
                    <h3>About Us</h3>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, Lorem Ipsum has been the industry's  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <br>
                <a href="#" class="info_btn">About Us</a>
            </div>
        </div>
    </div>
    <div class="row wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="bg_instructor">
            <div class="col-md-6 col-sm-6">
                <div class="instructor b_r-n">
                    <h3>Become an expert teacher</h3>
                    <p>The idea is to keep the discussions going after class ends.Having over 10 million students worldwide and more than 50.000 online courses available.</p>
                    <a href="#" class="info_btn">Start teaching</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="instructor ">
                    <h3>Become an expert teacher</h3>
                    <p>The idea is to keep the discussions going after class ends.Having over 10 million students worldwide and more than 50.000 online courses available.</p>
                    <a href="#" class="info_btn">Start teaching</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="h_courses">
                <h2>Popular Courses</h2>
                <div><a href="#" class="info_btn">more info</a></div>
            </div>

            <p class="para-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>

        </div>
        <div class="col-md-3 col-sm-6">
            <div class="training_sec wow fadeInDown" data-wow-duration="500ms" data-wow-delay="500ms">
                <div class="sec_img">
                    <img src="~/assets/images/online-training.jpg" alt="" />
                    <div class="img_hov">
                        <div class="p_trainer">
                            <img src="~/assets/images/p_img.jpeg" alt="" />
                            <p>22 lectures</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sec_text">
                    <h5>The Complete java course</h5>
                    <p>Education is the highest priority to everyone who wants to build their future with their own han</p>
                    <ul class="list-inline">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                        <li> 4.7 <span>(1000)</span></li>
                    </ul>
                    <a href="#" class="info_btn">More info</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="training_sec wow fadeInDown" data-wow-duration="600ms" data-wow-delay="600ms">
                <div class="sec_img">
                    <img src="~/assets/images/online-training.jpg" alt="" />
                    <div class="img_hov">
                        <div class="p_trainer">
                            <img src="~/assets/images/p_img.jpeg" alt="" />
                            <p>22 lectures</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sec_text">
                    <h5>The Complete java course</h5>
                    <p>Education is the highest priority to everyone who wants to build their future with their own han</p>
                    <ul class="list-inline">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                        <li> 4.7 <span>(1000)</span></li>
                    </ul>
                    <a href="#" class="info_btn">More info</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="training_sec wow fadeInDown" data-wow-duration="700ms" data-wow-delay="700ms">
                <div class="sec_img">
                    <img src="~/assets/images/online-training.jpg" alt="" />
                    <div class="img_hov">
                        <div class="p_trainer">
                            <img src="~/assets/images/p_img.jpeg" alt="" />
                            <p>22 lectures</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sec_text">
                    <h5>The Complete java course</h5>
                    <p>Education is the highest priority to everyone who wants to build their future with their own han</p>
                    <ul class="list-inline">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                        <li> 4.7 <span>(1000)</span></li>
                    </ul>
                    <a href="#" class="info_btn">More info</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="training_sec wow fadeInDown" data-wow-duration="800ms" data-wow-delay="800ms">
                <div class="sec_img">
                    <img src="~/assets/images/online-training.jpg" alt="" />
                    <div class="img_hov">
                        <div class="p_trainer">
                            <img src="~/assets/images/p_img.jpeg" alt="" />
                            <p>22 lectures</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sec_text">
                    <h5>The Complete java course</h5>
                    <p>Education is the highest priority to everyone who wants to build their future with their own han</p>
                    <ul class="list-inline">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                        <li> 4.7 <span>(1000)</span></li>
                    </ul>
                    <a href="#" class="info_btn">More info</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="h_courses">
                <h2>Latest Courses</h2>
                <div><a href="#" class="info_btn">more info</a></div>
            </div>
            <p class="para-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="training_sec wow fadeInDown" data-wow-duration="900ms" data-wow-delay="900ms">
                <div class="sec_img">
                    <img src="~/assets/images/online-training.jpg" alt="" />
                    <div class="img_hov">
                        <div class="p_trainer">
                            <img src="~/assets/images/p_img.jpeg" alt="" />
                            <p>22 lectures</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sec_text">
                    <h5>The Complete java course</h5>
                    <p>Education is the highest priority to everyone who wants to build their future with their own han</p>
                    <ul class="list-inline">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                        <li> 4.7 <span>(1000)</span></li>
                    </ul>
                    <a href="#" class="info_btn">More info</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="training_sec wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1000ms">
                <div class="sec_img">
                    <img src="~/assets/images/online-training.jpg" class="img-responsive" alt="" />
                    <div class="img_hov">
                        <div class="p_trainer">
                            <img src="~/assets/images/p_img.jpeg" alt="" />
                            <p>22 lectures</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sec_text">
                    <h5>The Complete java course</h5>
                    <p>Education is the highest priority to everyone who wants to build their future with their own han</p>
                    <ul class="list-inline">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                        <li> 4.7 <span>(1000)</span></li>
                    </ul>
                    <a href="#" class="info_btn">More info</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="training_sec wow fadeInDown" data-wow-duration="1100ms" data-wow-delay="1100ms">
                <div class="sec_img">
                    <img src="~/assets/images/online-training.jpg" class="img-responsive" alt="" />
                    <div class="img_hov">
                        <div class="p_trainer">
                            <img src="~/assets/images/p_img.jpeg" alt="" />
                            <p>22 lectures</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sec_text">
                    <h5>The Complete java course</h5>
                    <p>Education is the highest priority to everyone who wants to build their future with their own han</p>
                    <ul class="list-inline">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                        <li> 4.7 <span>(1000)</span></li>
                    </ul>
                    <a href="#" class="info_btn">More info</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="training_sec wow fadeInDown" data-wow-duration="1200ms" data-wow-delay="1200ms">
                <div class="sec_img">
                    <img src="~/assets/images/online-training.jpg" class="img-responsive" alt="" />
                    <div class="img_hov">
                        <div class="p_trainer">
                            <img src="~/assets/images/p_img.jpeg" alt="" />
                            <p>22 lectures</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sec_text">
                    <h5>The Complete java course</h5>
                    <p>Education is the highest priority to everyone who wants to build their future with their own han</p>
                    <ul class="list-inline">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                        <li> 4.7 <span>(1000)</span></li>
                    </ul>
                    <a href="#" class="info_btn">More info</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="h_courses">
                <h2>Top Courses</h2>
                <div><a href="#" class="info_btn">more info</a></div>
            </div>
            <p class="para-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="training_sec wow fadeInDown" data-wow-duration="900ms" data-wow-delay="900ms">
                <div class="sec_img">
                    <img src="~/assets/images/online-training.jpg" alt="" />
                    <div class="img_hov">
                        <div class="p_trainer">
                            <img src="~/assets/images/p_img.jpeg" alt="" />
                            <p>22 lectures</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sec_text">
                    <h5>The Complete java course</h5>
                    <p>Education is the highest priority to everyone who wants to build their future with their own han</p>
                    <ul class="list-inline">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                        <li> 4.7 <span>(1000)</span></li>
                    </ul>
                    <a href="#" class="info_btn">More info</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="training_sec wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1000ms">
                <div class="sec_img">
                    <img src="~/assets/images/online-training.jpg" class="img-responsive" alt="" />
                    <div class="img_hov">
                        <div class="p_trainer">
                            <img src="~/assets/images/p_img.jpeg" alt="" />
                            <p>22 lectures</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sec_text">
                    <h5>The Complete java course</h5>
                    <p>Education is the highest priority to everyone who wants to build their future with their own han</p>
                    <ul class="list-inline">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                        <li> 4.7 <span>(1000)</span></li>
                    </ul>
                    <a href="#" class="info_btn">More info</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="training_sec wow fadeInDown" data-wow-duration="1100ms" data-wow-delay="1100ms">
                <div class="sec_img">
                    <img src="~/assets/images/online-training.jpg" class="img-responsive" alt="" />
                    <div class="img_hov">
                        <div class="p_trainer">
                            <img src="~/assets/images/p_img.jpeg" alt="" />
                            <p>22 lectures</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sec_text">
                    <h5>The Complete java course</h5>
                    <p>Education is the highest priority to everyone who wants to build their future with their own han</p>
                    <ul class="list-inline">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                        <li> 4.7 <span>(1000)</span></li>
                    </ul>
                    <a href="#" class="info_btn">More info</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="training_sec wow fadeInDown" data-wow-duration="1200ms" data-wow-delay="1200ms">
                <div class="sec_img">
                    <img src="~/assets/images/online-training.jpg" class="img-responsive" alt="" />
                    <div class="img_hov">
                        <div class="p_trainer">
                            <img src="~/assets/images/p_img.jpeg" alt="" />
                            <p>22 lectures</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sec_text">
                    <h5>The Complete java course</h5>
                    <p>Education is the highest priority to everyone who wants to build their future with their own han</p>
                    <ul class="list-inline">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                        <li> 4.7 <span>(1000)</span></li>
                    </ul>
                    <a href="#" class="info_btn">More info</a>
                </div>
            </div>
        </div>

    </div>
</div>