﻿@using OnlineTraining.Models

@model OnlineTraining.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}
<div class="container">

    <div class="row">
        <div class="col-md-6 login col-md-offset-3 ">
            <div class="register">
                <h2>@ViewBag.Title.</h2>

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()<br />
                    <h4 class="text-center">Create a new account.</h4>
                    <br />
                    @* @Html.ValidationSummary("", new { @class = "text-danger" }) *@
                    @*<h2>@ViewBag.message</h2>*@

                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Role", new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @*<select id="Role">
                                <option value="Football">Football</option>
                                <option value="Rugby">Rugby</option>
                                <option value="Horse Racing">Horse Racing</option>
                            </select>

                            @Html.DropDownListFor(m => m.RoleId,
                            new SelectList(Enum.GetValues(typeof(UserRole))),
                            "Select Gender")*@

                            @Html.DropDownListFor(m => m.RoleId, new List<SelectListItem> {
                                new SelectListItem{ Text="User", Value = "2" },
                                new SelectListItem{ Text="Author", Value = "3" }
                              }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.RoleId, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-12 text-right">
                            <input type="submit" class="btn btn-default" value="Register" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
