﻿

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin</title>
    <link href="~/assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="~/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="~/assets/css/custom.css" type="text/css" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>





</head>

<body class="nav-md">
    <div class="body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="" class="site_title"><img src="~/assets/images/admin-cat.png" width="35"> <span>Technology Inc.</span></a>
                    </div>


                    <div class="clearfix"></div>



                    <br />


                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">

                        </div>


                    </div>

                    <div class="sidebar-footer hidden-small">

                    </div>

                </div>
            </div>


            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"></a>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="right_col" role="main">
                @RenderBody()

            </div>

            <footer>
                <div class="pull-right">
                    <ul class="footer-list">
                        <li>
                            <a href="#">Cat America</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </footer>

        </div>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

</body>
</html>


