﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js" type="text/javascript"></script>

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/userstyle.css" type="text/css" rel="stylesheet" />
    <link href="~/assets/css/userresponsive.css" type="text/css" rel="stylesheet" />
    <link href="~/assets/css/animate.css" rel="stylesheet" type="text/css" />

    <script src="~/assets/js/jquery.nicescroll.min.js" type="text/javascript"></script>
    <script src="~/assets/js/wow.min.js" type="text/javascript"></script>
    <script src="~/assets/js/custom.js" type="text/javascript"></script>
    <script src="~/assets/js/megamenu.js" type="text/javascript"></script>
    @*<script src="~/assets/js/custom.js"></script>*@
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@

    <div class="container p_0">
        <div class="row p_15">
            <div class="col-md-12">
                <div class="header_bg">
                    <div class="logo">
                        <a href="#"><img src="~/assets/images/cat_logo.png" alt="logo" /></a>
                    </div>
                    <div class="right_head">
                        <span class="p_no"><i class="fa fa-phone" aria-hidden="true"></i></span><span>800-2345-6789</span>
                        @*<a href="#" class="l_s_btn"><span>Login</span></a>
                        <a href="#" class="l_s_btn sign_bt"><span>Signup</span></a>*@
                        @Html.Partial("_LoginPartial")
                    </div>

                </div>
              

            </div>
        </div>


        <div class="nav_menu" data-spy="affix" data-offset-top="75">
            <div class="menu">
                <a href="#" class="menu-mobile">Menu</a>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li class="menu-dropdown-icon">
                        <a href="#"><span>Courses</span><span class="caret"></span></a>
                        <ul class="menu_left" style="display: none; opacity: 1;">
                            <li>
                                <a href="#">Development</a>
                                <ul>
                                    <li><a href="#">Web Development</a></li>
                                    <li><a href="#">Mobile Apps</a></li>
                                    <li><a href="#">Software Testing</a></li>
                                    <li><a href="#">Programming language</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Design</a>
                                <ul>
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Graphic Design</a></li>
                                    <li><a href="#">User Experience</a></li>
                                    <li><a href="#">Animation</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Language</a>
                                <ul>
                                    <li><a href="#">C#</a></li>
                                    <li><a href="#">PHP</a></li>
                                    <li><a href="#">Java</a></li>
                                    <li><a href="#">C++</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">IT & Software</a>
                                <ul>
                                    <li><a href="#">Network & Security</a></li>
                                    <li><a href="#">Hardware</a></li>
                                    <li><a href="#">Operating system</a></li>
                                    <li><a href="#">Others</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Marketing</a>
                                <ul>
                                    <li><a href="#">Digital Marketing</a></li>
                                    <li><a href="#">Search Engine Optimization</a></li>
                                    <li><a href="#">social Media Marketing</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">About Us</a> </li>
                    <li><a href="#">Contact</a> </li>
                    @*<li class="login_sign"><a href="#">Login</a><a href="#">Signin</a></li>*@
                    <div class="clear"></div>

                </ul>

            </div>


        </div>
    </div>


    <div class="body-content">
        @RenderBody()
        <hr />
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@

        <footer>
            <div class="container">
                <div class="footer">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="footer_sec wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                                <h3>About us</h3>
                                <img src="~/assets/images/cat_logo.png" alt="" />
                                <ul class="list-inline social_icon ">
                                    <li><a href="#"><i class="fa fa-facebook bounce" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer_sec wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="700ms">
                                <h3>Our Courses</h3>
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> <span> Java</span></a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> <span> .Net</span></a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> <span> Web Designing</span></a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> <span> PHP</span></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer_sec wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
                                <h3>Our Products</h3>
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> <span> Our Plan</span></a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> <span> Free Trail</span></a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> <span> Business Solutions</span></a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> <span> Academic Solutions</span></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer_sec wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                                <h3>Contact Us</h3>
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> <span> 800-2345-6789 </span></a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> <span> info.contact@gmail.com</span></a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> <span>#5-4-736, Nampally Stn.Road, Hyderabad - 500 001</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="b_footer">
            <p>Copyright © @DateTime.Now.Year Cattechnology,online learning</p>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
