﻿@model OnlineTraining.Models.CourseViewModel



@*<script type="text/javascript">
    $(document).ready(function () {

    });
</script>*@


<div id="ManageNewCoursesList">
    <div class="panel panel-default">
        <div class="panel-heading bg-blue">
            Manage Courses<div class="pull-right" style="margin-top: -4px;">
       
            </div>
        </div>
        <div class="panel-body">
            <div class="overflow ">
                <table class="table table-bordered table-striped ">
                    <tr class="">
                        <th>
                            Course Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Status
                        </th>
                        
                        <th>
                            Created Date
                        </th>
                        <th></th>
                    </tr>

                    @if (Model.CoursesList.Count == 0)
                    {
                        <tr style="">
                            <td colspan="5">
                                <p class="text-center">  No Course Found!</p>
                            </td>

                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.CoursesList)
                        {
                            var status = "";
                            <tr style="" class="tree">

                                <td>
                                    
                                    @Html.ActionLink(item.CourseName, "GetCourse", "Admin", new { CourseId = item.CourseId }, new { target = "_blank" })
                                    
                                </td>

                                <td>

                                    @item.Description

                                </td>
                                <td>
                                    @if (item.IsActive)
                                    {
                                        status = "True";
                                        <text>Active</text>
                                    }
                                    else
                                    {
                                        status = "False";
                                        <text>Inactive</text>
                                    }
                                </td>

                               
                                <td>
                                    @item.UpdatedDate.ToShortDateString()
                                </td>
                                <td>
                                    <span>
                                        <a class="btn btn-success manageIcons" href="#" data-toggle="tooltip" title="Edit Course"><i class="fa fa-pencil"></i></a>  @*onclick="EditCourse('@item.CourseName','@item.CourseId','@item.Category_Id','@status')"*@

                                        @Html.ActionLink("Sections", "Sections", "Admin",new { CourseId = @item.CourseId, CourseName=@item.CourseName },new {@class="btn btn-primary"})
                                    </span>
                                </td>
                            </tr>
                            
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">
    function funct(data) {
        if ($('#' + data).hasClass(data)) {
            $('#' + data).removeClass(data);
        }

        $('.' + data).toggle('2000');
        $('#' + data).toggleClass('active');
    }
</script>



@*<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
    <link href="~/Content/assets/css/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />*@

