﻿@model OnlineTraining.Models.SectionViewModel




<div id="ManageNewCoursesList">
    <div class="panel panel-default">
        <div class="panel-heading bg-blue">
            Manage Sections<div class="pull-right" style="margin-top: -4px;">
            @Html.ActionLink("Back", "Course", "Admin", null, new { @class = "btn btn-danger" })
            </div>
        </div>
        <div class="panel-body">
            <div class="overflow ">
                <table class="table table-bordered table-striped ">
                    <tr class="">
                        <th>
                            Section Name
                        </th>
                        <th>
                            Course Name
                        </th>
                        <th>
                            Status
                        </th>

                        <th>
                            Created Date
                        </th>
                        <th></th>
                    </tr>

                    @if (Model.SectionList.Count == 0)
                    {
                        <tr style="">

                            <td colspan="5">
                                <p class="text-center">  No Sections Found!</p>
                            </td>

                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.SectionList)
                        {
                            var status = "";
                            <tr style="" class="tree">

                                <td>

                                    @item.SectionName

                                </td>

                                <td>

                                    @item.CourseName

                                </td>
                                <td>
                                    @if (item.IsActive)
                                    {
                                        status = "True";
                                        <text>Active</text>
                                    }
                                    else
                                    {
                                        status = "False";
                                        <text>Inactive</text>
                                    }
                                </td>


                                <td>
                                    @item.UpdatedDate.ToShortDateString()
                                </td>
                                <td>
                                    <span>
                                        <a class="btn btn-success manageIcons" href="#" data-toggle="tooltip" title="Edit Course"><i class="fa fa-pencil"></i></a>  @*onclick="EditCourse('@item.CourseName','@item.CourseId','@item.Category_Id','@status')"*@

                                        @Html.ActionLink("Topics", "Topics", "Admin", new { SectionId = @item.SectionId, SectionName = @item.SectionName }, new { @class = "btn btn-primary" })
                                        
                                    </span>
                                </td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">
    function funct(data) {
        if ($('#' + data).hasClass(data)) {
            $('#' + data).removeClass(data);
        }

        $('.' + data).toggle('2000');
        $('#' + data).toggleClass('active');
    }
</script>






