﻿@model OnlineTraining.Models.TopicViewModel




<div id="ManageNewCoursesList">
    <div class="panel panel-default">
        <div class="panel-heading bg-blue">
            Manage Topics<div class="pull-right" style="margin-top: -4px;">
                             @Html.ActionLink("Back", "Course", "Admin", null, new { @class = "btn btn-danger" })
            </div>
        </div>
        <div class="panel-body">
            <div class="overflow ">
                <table class="table table-bordered table-striped ">
                    <tr class="">
                        <th>
                            Topic Name
                        </th>
                        <th>
                            Section Name
                        </th>
                        <th>
                            TextFile
                        </th>
                        <th>
                            VideoFile
                        </th>
                        
                        <th>
                            Status
                        </th>

                        <th>
                            Created Date
                        </th>
                        @*<th></th>*@
                    </tr>

                    @if (Model.TopicList.Count == 0)
                    {
                        <tr style="">

                            <td colspan="5">
                                <p class="text-center">  No Topics Found!</p>
                            </td>

                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.TopicList)
                        {
                            var status = "";
                            <tr style="" class="tree">

                                <td>

                                    @item.TopicName

                                </td>

                                <td>

                                    @item.SectionName

                                </td>
                                <td>

                                    @*@Html.ActionLink(item.PdfLink,"Index",null, new { @target = "_blank" })*@
                                    @Html.ActionLink(item.PdfLink, "DisplayPdf", "Admin", new { FileName = item.PdfLink }, new { target = "_blank" })

                                </td>
                                <td>
                                    @Html.ActionLink(item.VideoLink, "PlayVideo", "Admin", new { FileName= item.VideoLink}, new { target = "_blank" })
                                    @*@Html.ActionLink("FirstPage", "Index", "ViewVideo", null, new { target = "_blank" })*@
                                    @*@Html.ActionLink("FirstPage", "PlayVideo", "Admin", null, new { target = "_blank" })*@
                                   

                                </td>
                                <td>
                                    @if (item.IsActive)
                                    {
                                        status = "True";
                                        <text>Active</text>
                                    }
                                    else
                                    {
                                        status = "False";
                                        <text>Inactive</text>
                                    }
                                </td>


                                <td>
                                    @item.UpdatedDate.ToShortDateString()
                                </td>
                                @*<td>
                                    <span>
                                        <a class="btn btn-success manageIcons" href="#" data-toggle="tooltip" title="Edit Course"><i class="fa fa-pencil"></i></a> 
                                    </span>
                                </td>*@
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>













