﻿@model OnlineTraining.Models.TopicViewModel

@{
    ViewBag.Title = "AllTopics";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Topics</h3>
<div class="panel panel-default">
    <div class="panel-heading bg-blue">
        Manage Topics<div class="pull-right" style="margin-top: -4px;">
        </div>
    </div>
    <div class="panel-body">

        <table class="table table-bordered table-striped" >
            <tr>
                <th>
                    Topic Name
                </th>
                <th>
                    Section Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Text Link
                </th>
                <th>
                    Video Link
                </th>

                <th>
                    Status
                </th>

                <th>
                    Updated Date
                </th>


            </tr>

            @foreach (var item in Model.TopicList)
            {
                <tr>


                    <td>
                        @Html.DisplayFor(modelItem => item.TopicName)
                        @Html.HiddenFor(modelItem => item.SectionId)
                        @Html.HiddenFor(modelItem => item.TopicId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SectionName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PdfLink)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VideoLink)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>

                    <td>
                        @*@Html.DisplayFor(modelItem => item.UpdatedDate.ToShortDateString())*@
                        @item.UpdatedDate.ToShortDateString()
                    </td>


                </tr>
            }

        </table>
</div>
</div>