﻿
@{
    ViewBag.Title = "DisplayPdf";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>DisplayPdf</h2>

<div style="height:600px;width:100%;display:inline-block">
    

<iframe style="BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid; WIDTH: 98%; HEIGHT: 98%; BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid"
           src="@Url.Action("GetPDF", "Admin", new { PdfFileName = ViewBag.PdfFileName })"
            name="ifr" id="ifr" scrolling=no>
        Your browser do not support frames!
    </iframe>
    </div>



