﻿@model OnlineTraining.Models.AdminCourseViewModel

    @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    <h3>Admin dasboard</h3>

    <div class="home-page-block">

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-edit c-white"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Courses</span>
                        <span class="info-box-number">@Model.TotalCourses<small></small></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Sections</span>
                        <span class="info-box-number">@Model.TotalSections</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-play c-white"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Topics</span>
                        <span class="info-box-number">@Model.TotalTopics</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-exclamation-triangle c-white"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">InActive Courses</span>
                        <span class="info-box-number">@Model.TotalInactiveCourses</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- top row end-->
        <!-- TABLE: LATEST Courses -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Latest Added Coures</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th> Course Name</th>

                                <th>Description</th>

                                <th>Status</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*
                            <tr>
                                <td><a href="#">Course 1</a></td>

                                <td>Loremipsum is a dummy text Description</td>

                                <td><span class="label label-success">Active</span></td>
                                <td>15/APR/2017</td>
                            </tr>*@

                            @foreach (var item in Model.CourseList)
                            {
                            <tr>
                                <td>
                                    @*<a href="#">@item.CourseName</a>*@
                                    @Html.ActionLink(item.CourseName, "GetCourse", "Admin", new { CourseId = item.CourseId }, new { target = "_blank",location="no", toolbar = "no"})
                                </td>

                                <td>@item.Description</td>

                                <td><span class="label label-success">@item.IsActive</span></td>
                                <td>@item.UpdatedDate</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <a  href="@Url.Action("Course", "Admin")" class="btn btn-sm btn-info btn-flat pull-right">View All Courses</a>
                @*@Html.ActionLink("View All Courses","",new { @class= "btn btn-sm btn-info btn-flat pull-right"})*@

            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
        <!-- USERS   -->
        <div class="row">
            <div class="box-body">
                <div class="col-md-4 col-sm-6">
                    <!-- USERS LIST -->
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">Latest Members</h3>
                            <div class="box-tools pull-right">
                                <span class="label label-danger">8 New Members</span>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <ul class="users-list clearfix">
                                <li>
                                    <img src="~/assets/images/user1-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">John</a>
                                    <span class="users-list-date">Today</span>
                                </li>
                                <li>
                                    <img src="~/assets/images/user8-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Norman</a>
                                    <span class="users-list-date">Yesterday</span>
                                </li>
                                <li>
                                    <img src="~/assets/images/user7-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Jane</a>
                                    <span class="users-list-date">12 Jan</span>
                                </li>
                                <li>
                                    <img src="~/assets/images/user6-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">John</a>
                                    <span class="users-list-date">12 Jan</span>
                                </li>
                                <li>
                                    <img src="~/assets/images/user2-160x160.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Norman</a>
                                    <span class="users-list-date">13 Jan</span>
                                </li>
                                <li>
                                    <img src="~/assets/images/user5-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Sarah</a>
                                    <span class="users-list-date">14 Jan</span>
                                </li>
                                <li>
                                    <img src="~/assets/images/user4-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Norman</a>
                                    <span class="users-list-date">15 Jan</span>
                                </li>
                                <li>
                                    <img src="~/assets/images/user3-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Nadia</a>
                                    <span class="users-list-date">15 Jan</span>
                                </li>
                            </ul>
                            <!-- /.users-list -->
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer text-center">
                            <a href="javascript:void(0)" class="uppercase">View All Users</a>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!--/.box -->
                </div>
                <!-- Payments block -->
                <div class="col-md-4 col-sm-6">
                    <div class="box completion-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Goal Completion</h3>
                        </div>


                        <div class="progress-group">
                            <span class="progress-text">Add Products to Cart</span>
                            <span class="progress-number"><b>160</b>/200</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">Complete Purchase</span>
                            <span class="progress-number"><b>310</b>/400</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-red" style="width: 60%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">Visit Premium Page</span>
                            <span class="progress-number"><b>480</b>/800</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-green" style="width: 70%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">Send Inquiries</span>
                            <span class="progress-number"><b>250</b>/500</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                    </div>

                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="description-block">
                                    <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 75%</span>
                                    <h5 class="description-header">9,500</h5>
                                    <span class="description-text">GOAL COMPLETIONS</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>

                </div>

                <div class="col-md-4 col-sm-6 block-3">

                    <div class="info-box bg-green">
                        <span class="info-box-icon"><i class="fa fa-user-circle-o c-white"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Total Users</span>
                            <span class="info-box-number">92,050</span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 20%"></div>
                            </div>
                            <span class="progress-description">
                                20% Increase in 30 Days
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>

                    <div class="info-box bg-red">
                        <span class="info-box-icon"><i class="fa fa-download"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Downloads</span>
                            <span class="info-box-number">114,381</span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                            <span class="progress-description">
                                70% Increase in 30 Days
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>

                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><i class="fa fa-eye c-white"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Site View</span>
                            <span class="info-box-number">163,921</span>

                            <div class="progress">
                                <div class="progress-bar" style="width: 40%"></div>
                            </div>
                            <span class="progress-description">
                                40% Increase in 30 Days
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>

            </div>
        </div>
        <!-- USERS END -->

    </div>

