﻿@model OnlineTraining.Models.SectionViewModel

@{
    ViewBag.Title = "Sections";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Ajax.BeginForm("SaveSection", "Admin", new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess", UpdateTargetId = "ManageNewCoursesList", LoadingElementId = "loader" }))

{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading bg-blue">Add Courses </div>
        <div class="panel-body">
            <div class="row ">
                <div class="col-md-4 col-sm-5 col-xs-12 ">
                    <div class="height-validation">

                        @Html.LabelFor(m => m.SectionName, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.SectionName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SectionName, null, new { @class = "text-danger" })

                        @Html.HiddenFor(m => m.SectionId, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.CourseId, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.CourseName, new { @class = "form-control" })

                      
                    </div>
                </div>
                <div class="col-md-4 col-sm-5 col-xs-12 ">
                    <div class="height-validation">
                        @Html.LabelFor(m => m.IsActive, new { @class = "control-label" })
                        <br/>
                        @Html.CheckBoxFor(m => m.IsActive)
                        @Html.ValidationMessageFor(m => m.IsActive, null, new { @class = "text-danger" })


                    </div>
                </div>
                <div class="col-md-4 col-sm-5 col-xs-12 ">
                    <div class="">
                        <label>&nbsp;</label><br class="hidden-xs">
                        <button type="submit" id="btnSaveUpdate" class="btn btn-primary">Add</button>
                        <button type="reset" onclick="$(this).resetValidation()" id="btnClear" class="btn btn-danger ">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    @Html.Partial("_SectionList", Model)
}

<script>
    $(document).ready(function () {
       // alert('master');
    });
    function OnSuccess() {
        alert("Course Added");
    }
</script>



